/* Write your CSS code here */
.cryptocurrency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.logo {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
.currency-name {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
.usd-euro-container {
  display: flex;
  align-items: center;
}
.value {
  text-align: right;
  color: #ffffff;
  font-size: 12px;
  width: 50px;
  margin-left: 8px;
  padding-left: 4px;
}
